/* Stylesheet */
body {
       background: #000;
	  
}

header {
       
}

nav {
        
}

blockquote {
        
}

footer {
        
}

section {
        
}

.container_12 {
        background: #FFF;
}
p, h3{
	font-family: 'Belleza', sans-serif;
}
h3{
	text-transfrom: uppercase;
}