/*{
	text-decoration: none;
	text-align: center;
	font-size: 20px;
	padding-left: 10px;
	padding-right:10px;*/
	

}
h3{
	color: blue;
}
li{
  background: black;
  display: inline;
  height:50px;
  list-style: none;
  margin: 20px 10px;
  padding: 20px 10px;
}
#nav1{
  color: white;
  font: 24px bold sans-serif italic;
  letter-spacing: 2px;
  text-transform: uppercase; 
  text-decoration: none;
}
li:hover {
  background: blue;
  color:#fff;
  transition:background .5s;
}
#img{
	
}